<html>
    <head>
        <title>
            <%= title %>
        </title>
        <body>
            <h1>Play around</h1>
            <ul>
                <%for (let i=0;i<5;i++) {%>
                    <li>
                        <%= i %>
                    </li>
                    <% } %>
            </ul>

            <% if(true) { %>
                <h1> Its true</h1>
                <% } else { %>
                    <p> its false</p>
                <%}%>
        </body>
    </head>
</html>